$black: #272822;
$black2: #2f3129;

* {
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.x-md {
  display: flex;
  width: 49.5%;
  background-color: $black;
  color: #F8F8F2;
  line-height: 20px;
  font-size: 14px;

  .md-order {
    padding-top: 10px;
    width: 35px;
    height: 100%;
    background-color: $black2;

    .order-item {
      width: 100%;
      text-align: center;
    }

    .order-activity {
      background-color: $black;
    }
  }

  .md-show {
    outline: none;
    padding: 10px;
    width: calc(100% - 35px);
    overflow-x: auto;

    p {
      white-space: nowrap;
    }
  }
}

.x-border {
  width: 0.5%;
  margin-left: 0.5%;
  border-left: 3px dashed #CCC;
}

.x-show {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;
  width: 49.5%;
  padding: 10px;

  h1, h2, h3, h4, h5, h6 {
    color: #404040;
    line-height: 36px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    color: #737373;
  }
}
